# this is a template unit file matching usb-mount@unit.service
[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/usbmount/usbmount add %i
ExecStop=/usr/share/usbmount/usbmount remove %i
