[Desktop Entry]
Version=1.0
Name=Camera Demo
Comment=Demo for GTA04 camera
Exec=/root/camera-demo
Icon=none
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
