#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=dhcp on usb0
Documentation=man:ifconfigy(8)
Documentation=http://www.letux.org
After=systemd-user-sessions.service rc-local.service usb-gadget.service

IgnoreOnIsolate=yes

# IgnoreOnIsolate causes issues with sulogin, if someone isolates
# rescue.target or starts rescue.service from multi-user.target or
# graphical.target.
Conflicts=rescue.service
Before=rescue.service

[Service]
ExecStartPre=/etc/gadget/core/letux-gadget.sh add ncm
ExecStartPre=/sbin/ifconfig usb0 netmask 255.255.255.192 192.168.0.202 up
ExecStartPre=/sbin/route add default gw 192.168.0.200 metric 203
ExecStartPre=/etc/network/letux-setup-resolv-conf.sh
ExecStart=-/usr/sbin/dhcpd -q -cf /etc/gadget/scripts/letux-ip-over-usb-gadget-dhcpd.conf
ExecStopPost=-/sbin/ifconfig usb0 down
ExecStopPost=-/etc/gadget/core/letux-gadget.sh remove ncm
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=usb0
KillMode=process
IgnoreSIGPIPE=no

# Unset locale for the console getty since the console has problems
# displaying some internationalized messages.
Environment=LANG= LANGUAGE= LC_CTYPE= LC_NUMERIC= LC_TIME= LC_COLLATE= LC_MONETARY= LC_MESSAGES= LC_PAPER= LC_NAME= LC_ADDRESS= LC_TELEPHONE= LC_MEASUREMENT= LC_IDENTIFICATION=

[Install]
# WantedBy=getty.target
DefaultInstance=usb0
